
.calendar{
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 50px;
    background-color: teal;
    width: 40%;
    color: white;
    border-radius: 20px;
    padding: 8px 0px;
}

.github-main{
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.react-activity-calendar{
    display: block;
    margin: auto;
}

.github-div1,.github-div2,.github-div3{
   width: 50%;
   display: block;
   margin: auto;
}

#github-streak-stats,#github-top-langs,#github-stats-card{
    width: 100%;
    height: 400px;
}

/* media query */

@media all and (min-width: 768px) and (max-width: 1024px) {
    .github-main,.github-div1,.github-div2,.github-div3{
        width: 100%;
    }
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .github-main,.github-div1,.github-div2,.github-div3{
        width: 100%;
    }
    .calendar{
        width: 100%;
    }
    .github-div1,.github-div2,.github-div3{
        margin-top: -80px;
    }
    .github-div2,.github-div3{
        margin-top: -200px;
    }
}