.home-div1{
    width: 100%;
    height: 100vh;
    position: relative;
}
.bg-img{
     width: 100%;
     height: 100%;
     background-size: cover;
     background-position: center;
     object-fit: cover;
}
.home-div{
    width: 100%;
    height: 100%;
}
.home-div .content{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 18%;
    text-align: center;
    color: white;
}
.title{
    font-size: 30px;
}
#user-detail-name{
    color:#E7B10A;
    font-weight: bold;
    font-size: 25px;
}
.name-tag{
    margin-top: 7px;
}
#resume-button-2{
    margin-top: 10px;
    background-color: #FFED00;
    padding: 10px 20px;
    font-size: 20px;
    border: 0;
    border-radius: 15px;
    transition: 0.5s;
}
#resume-button-2 a{
    text-decoration: none;
}
#resume-button-2:hover{
    background-color:#C1AEFC ;
    color: #698269;
}

/*Media query*/

@media all and (min-width: 768px) and (max-width: 1024px){
 .home-div .content{
    position: absolute;
    top: 53%;
    left: 50%; 
}
.tag-hi{
    font-size: 60px;
}
.name-tag{
 width: max-content;
 font-size: 40px;
}
#user-detail-name,.span-tag{
  font-size: 50px;
}
#resume-button-2{
    margin-top: 40px;
    padding: 20px;
}
#resume-button-2 a{
    font-size: 40px;
}

}

/* small screen */

@media all and (min-width: 320px) and (max-width: 767px) {
    .home-div .content{
        position: absolute;
        top: 50%;
        left: 50%; 
    }
    .tag-hi{
        font-size: 30px;
    }
    .name-tag{
     width: max-content;
     font-size: 30px;
    }
    #user-detail-name,.span-tag{
      font-size: 30px;
    }
    #resume-button-2{
        margin-top: 40px;
        padding: 20px;
    }
    #resume-button-2 a{
        font-size: 22px;
    }

}