#nav-menu{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 12vh;
    background-color:#443C68 ;
    position: fixed;
    top:0;
    z-index: 100;
}
#nav-color{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 12vh;
    position: fixed;
    top:0;
    z-index: 100;
    background-color: #97DEFF;
}
.list-main{
    display: flex; 
    align-items: center;  
}
.list-main li a{
    margin-left: 3rem;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #B99B6B;
}
.heading{
    text-decoration: none;
    color: #B99B6B;
    background: linear-gradient(90deg,#ff0000,#ffff00,#ff00f3,#0033ff,#ff00c4,#ff0000);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;

}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
.list-main #resume-button-1{
    margin-left: 4rem;
    padding: 8px;
    background-color: #B99B6B;;
    font-size: 25px;
    border: none;
    border-radius: 10px;   
}
.list-main #resume-button-1 a{
    text-decoration: none;
    color: black;
    padding-left: 5px;
}
.nav_div1{
    margin-left: 8rem;
}
.nav_div1 a{
    text-decoration: none;
}
.nav_div2{
    margin-right: 2rem;
    padding: 8px;
}

.fa-download{
    margin-right: 10px;
}
.mobile-menu{
    display: none;
    font-size: 40px;
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .mobile-menu{
       position: absolute;
       left: 0;
    }
   .list-main{
     flex-direction: column;
     align-items: center;
     width: 100%;
     height: 100vh;
     position: absolute;
     top: 12vh;
     right:-100%;
     background-color: #443C68;
     padding-top: 80px;
     transition: 0.5s ease-in;
 }
 .list-main.active{
    right:0;
 }
 .mobile-menu{
    display: block;
}
   .list-main li{
    padding: 1rem 0;
   }
   
   .list-main #resume-button-1{
    margin-top: 20px;
   }
   .list-main button a,.list-main li a{
    font-size: 40px;
   }
  

}




@media all and (min-width: 768px) and (max-width: 1024px){
    .list-main{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 12vh;
        right:-100%;
        background-color: #443C68;
        padding-top: 80px;
        transition: 0.5s ease-in;
    }
    .list-main.active{
       right:0;
    }
    .mobile-menu{
       display: block;
      margin-right: 20px;
      font-size: 60px;
      color: cornflowerblue;
      border: 1px solid cornflowerblue;
      padding: 2px;
      border-radius: 10px;
   }
      .list-main li{
       padding: 1rem 0;
      }
      
      .list-main #resume-button-1{
       margin-top: 20px;
      }
      .list-main button a,.list-main li a{
       font-size: 40px;
      }
      .nav_div1{
       margin-left: 1rem;
     }
     .heading{
       font-size: 60px;
     }
   
}