.project-main{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin: auto;
    margin-top: 30px;
}
.project-div1 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius:20px ;
}
.project-card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
}
.tech-stack{
    text-align: center;
    color: teal;
    margin: 10px 0px;
}
.project-description{
    width: 80%;
    display: block;
    margin: auto;
    text-align: center;
}
.project-tech-arr{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.tech-arr{
    width: 15%;
}
.project-title{
    text-align: center;
    margin: 10px 0px;
    color: teal;
    text-decoration: underline;
}
.project-tech-stack{
   width: 100%;
   object-fit: cover;
}
.project-link-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0px;
}
.project-heading{
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 50px;
    background-color: teal;
    width: 20%;
    color: white;
    border-radius: 20px;
    padding: 8px 0px;
}

hr{
    width:90%;
    border-bottom:2px solid black;
    margin:auto;
    margin-top: 20px;
}

.project-deployed-link{
    font-size: 30px;
    font-weight: bold;
    padding: 8px 15px;
    background-color: teal;
    color: white;
    border-radius: 10px;
}

/* media query */

@media all and (min-width: 768px) and (max-width: 1024px) {
    .project-heading{
        width: 40%;
    }
    .project-main{
        width: 100%;
    }
}


@media all and (min-width: 320px) and (max-width: 767px) {
    .project-heading{
        width: 90%;
    }
    .project-main{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}