
.tool-main{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin: auto;
    margin-top: 30px;
}

.tool-each-div{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 20px;
}

.tool-image{
    width: 50%;
    height: 150px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.tool-text{
    text-align: center;
    color: teal;
    margin: 20px 0px;
}



.tool-heading{
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 50px;
    background-color: teal;
    width: 20%;
    color: white;
    border-radius: 20px;
    padding: 8px 0px;
}



@media all and (min-width: 320px) and (max-width: 767px) {
    .tool-heading{
        width: 90%;
    }
    .tool-main{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}